*{
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black ;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.h1container{
    position:absolute;
    margin-top: -800px;
    margin-left:450px;
    width:800px;
}
h1{
    font-size: 64px;
    background: linear-gradient(180deg, #FFF 0%, rgba(0, 0, 0, 0) 110.32%);           
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 82.292%; 
}
.container{
    width: 1400px;
    height: 800px;
    flex-shrink: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top:80px;

    border-radius: 20px;
    border:double 5px transparent;
    background-image: linear-gradient(black,black),
    linear-gradient(107deg, rgb(6, 250, 254), rgba(251, 5, 215));
    background-origin: border-box;
    background-clip:content-box,border-box;            
}

.shadow{
    width: 1400px;
    height: 800px;
    flex-shrink: 0;
    position:absolute;
    margin-top:50px;
    border-radius: 40.916px;
    background: linear-gradient(107deg, rgba(6, 250, 254, 0.359) 2.49%, rgba(251, 5, 214, 0.342) 97.53%);
    filter: blur(250px);
    z-index: -1;
}

hr{
    margin-top: 200px;
    width:1350px;   
    height:1px; 
    color: white;
}